li {
  list-style: none;
}
.slick-movie-img {
  width: 90px;
  height: 64px;
  border-radius: 8px;
}
@media (min-width: 768px) {
  .slick-movie-img {
    width: 255px;
    height: 170px;
  }
}
.react-slick-item {
  background: transparent;
}
.react-slick-li-item {
  list-style-type: none;
}
@media (min-width: 1024px) {
  .slick-movie-img {
    margin: 0px 5px;
    height: 240px;
    width: 280px;
    border-radius: 10px;
  }
}

@media (max-width: 768px) {
  .slick-movie-img {
    margin: 0px 5px;
    height: 120px;
    width: 100px;
  }
}
