.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: #0c0b10;
}

@media screen and (min-width: 768px) {
  .login-form-container {
    /* flex-direction: row;
    justify-content: space-around; */
    background-image: url('https://res.cloudinary.com/dyx9u0bif/image/upload/v1657426893/bg-image_usfch9.png');
    background-size: cover;
  }
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  align-self: center;
  width: 456px;
  height: 440px;
  left: 492px;
  top: 292px;

  background: #0c0b10;
  opacity: 0.8;
  border-radius: 8px;
}
.login-website-logo {
  width: 185px;
}
.input-label {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-weight: bold;

  color: #475569;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  /* border: 1px solid greenyellow; */
}
.input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #333333;
  background-color: #333333;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
}
.login-btn {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #e50914;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}
.login-err-msg {
  align-self: start;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  color: #dc2626;
}
.show-hide-container {
  display: flex;
  margin-top: 6px;
}
.login-text {
  color: #ffffff;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  align-self: center;
}
.login-website-logo {
  width: 180px;
  height: 54px;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 100px;
}
.login-btn2 {
  display: none;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #e50914;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .login-website-logo {
    align-self: flex-start;
  }
  .login-text {
    align-self: flex-start;
    width: 80px;
    height: 40px;
    color: #ffffff;
    font-size: 32px;
  }
  .login-btn2 {
    display: block;
  }
  .login-btn {
    display: none;
  }
}
