.slick-app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.react-slick-item {
  background: transparent;
}
@media (min-width: 1024px) {
  .slick-movie-img {
    margin: 0px 5px;
    height: 240px;
    width: 280px;
    border-radius: 10px;
  }
}

@media (min-width: 567px) {
  .slick-movie-img {
    margin: 0px 5px;
    height: 150px;
    width: 150px;
  }
}
