.homeContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  padding-bottom: 30px;

  left: 0px;
  top: 0px;
  background-color: #181818;
}
.home-sizes-container {
  height: 75vh;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(24, 24, 24, 0.546875) 38.26%,
    #181818 92.82%,
    #181818 98.68%,
    #181818 108.61%
  );
}
.trending {
  color: white;
  margin-bottom: 20px;
}
.original {
  color: white;
  margin-bottom: 20px;
}
.trendingContainer {
  padding: 50px;
}
.originalContainer {
  padding: 50px;
}
@media (max-width: 567px) {
  .home-sizes-container {
    height: 40vh;
  }
  .trending {
    font-size: 25px;
  }
  .original {
    font-size: 25px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 568px) {
  .home-sizes-container {
    height: 60vh;
  }
}
@media (min-width: 1024px) {
  .home-sizes-container {
    height: 80vh;
  }
  .trending {
    font-size: 25px;
    padding-bottom: 15px;
    padding-left: 33px;
  }
  .original {
    font-size: 25px;
    padding-bottom: 15px;
    padding-left: 33px;
  }
}
