.popularContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.listMovie {
  list-style-type: none;
  margin: 10px;
  flex-grow: 1;
}
.popularImg {
  height: 230px;
  width: 250px;
  border-radius: 10px;
}
.moviesContainer {
  padding: 20px;
}
.moviesList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 567px) {
  .popularImg {
    height: 100px;
    width: 90px;
  }
}
